body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #3498db, #2ecc71);
}

#contact {
    text-align: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #3498db;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: #2ecc71;
}

button {
    background-color: #003283;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#captchaContainer {
    display: flex;
    align-items: center;
}

#captchaInput {
    margin-top: auto;
    margin-bottom: auto;
}

#captchaText {
    margin-right: 10px;
}

#captcha {
    padding: 8px;
    margin-left: 2px;
    border: 1px solid #3498db;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#captcha:hover {
    background-color: #00137d;
    color: white;
}

#submit {
    margin-top: 10px;
}